<% content_for(:title) { "Channels"} %>
<% breadcrumb_buffer([{ "Channels": nil}]) %>

<div class='header-wrapper clearfix'>
  <div class='pull-left'>
    <h3 class='header-title'> List of My Channels </h3>
  </div>

  <div class='right'>
    <%= link_new 'New Channel', new_channel_path() %>
  </div>
</div>

<div class="panel panel-info">
  <table class='table table-responsive' valign='center'>
    <thead>
      <tr>
        <td>Channel</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @my_channels.each do |channel| %>
        <%= render 'channel', channel_with_role: ObjectWithRole.new(channel) %>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate_for(@my_channels) %>

<% if @channel_permissions.size > 0 %>
  <br/>
  <br/>
  <br/>
  <h3 class='header-title'> Shared Channels </h3>
  <div class="panel panel-info">
    <table class='table table-responsive'>
      <thead>
        <tr>
          <td>Channel</td>
          <td>Status</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @channel_permissions.each do |permission| %>
          <%= render 'channel', channel_with_role: ObjectWithRole.new(permission.channel, permission.role), show_role: true %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= paginate_for(@channel_permissions, param_name: :shared_page) %>