<% content_for(:title) { "Channels"} %>

<div class='clearfix'>
  <div class='left'>
    <%= link_custom 'New Channel', new_channel_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: channels_path %>
  </div>
</div>


<table class='table'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Status</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= link_to channel.name, edit_channel_path(channel) %></td>
        <td><%= check_box_tag "status", channel.id, channel.is_enable, 
                               class: 'switchable channel-status',
                               data: {url: state_channel_path(channel.id)}
                                %></td>
        <td>
          <%= link_edit " ", edit_channel_path(channel) %>
          <%= link_destroy " ", channel_path(channel), method: :delete, data: { confirm: 'Are you sure to delete this channel ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
