<%= page_title "Feed matched" %>
<h3> Feed entries for alert <%= @alert.name %> </h3>
<%= paginate(@feed_entries) %>

<% @alert.feed_entries.each_with_index do |feed_entry, index| %>
  <div class='feed-summary' style="padding-bottom: 15px; margin-top: 15px;">
    <h4 class='feed-title'>
      <%= index_in_paginate(index+1) %> -
      <%= link_to feed_entry.title, alert_feed_entry_path(@alert,feed_entry) %>
    </h4>

    <p style='color:gray; font-size: 90%; font-style:italic;'>
      <%= feed_entry.keywords.join(", ")%>
      <%=link_to 'Original source', feed_entry.url %> 
    </p>

    <%
       summary = StringSummary.instance.set_source(feed_entry.content).text(feed_entry.keywords)

       highlight = StringSearch.instance.set_source(summary).highlight_keywords(feed_entry.keywords) do |keyword|
        "<span class='keyword-highlight'><b>#{keyword}</b></span>"
       end
    %>
    <%= highlight.html_safe %>
  </div>
<% end %>