
<% if group.memberships.size > 0 %>
  <table class='table'>
    <thead>
      <tr>
        <td>Full Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% group.memberships.each do |membership| %>
        <tr id='membership-<%=membership.id%>'>
          <td><%= membership.member.full_name %></td>
          <td><%= membership.member.email %></td>
          <td><%= membership.member.phone %></td>
          <td><%= link_to 'Remove', membership_path(membership.id), class: 'remove-member', data: {id: membership.id} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
