<% content_for(:title) { "Login" } %>



<div class='form-box'>
  
  <%= form_tag sessions_path, role: 'form', class: 'form-center radius' do %>
    <%= page_header "Please login" %>
    <div class='input-row'>
      <%= text_field_tag :user_name, params[:user_name], class: 'form-control radius', placeholder: 'User name' %>
    </div>

    <div class='input-row'>
      <%= password_field_tag :password, '', class: 'form-control radius', placeholder: 'Password' %>
    </div>

    <div class='input-row' style='text-align:right ;'>
      <%= button_tag "Login", class: 'btn btn-info' %>
    </div>

  <% end %>
</div>