<% content_for(:title) { "Sign In" } %>

<%= form_tag sessions_path, role: 'form', class: 'form-box form-center' do %>
  <!-- Hack autocomplete in browser-->
  <input type="password" style="display:none">

  <div class='input-row'>
    <%= text_field_tag :email, params[:email], class: 'form-control radius', placeholder: 'Email' %>
  </div>

  <div class='input-row'>
    <%= password_field_tag :password, '', class: 'form-control radius', placeholder: 'Password' %>
  </div>

  <div class='input-row clearfix' style='text-align:right ;'>
    <div class='left' style='padding-top: 10px;'>
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me, 'Remember me',style: 'font-size: 110%; color: #666;' %>
    </div>
    <div class='right'>
      <%= button_tag "Sign In", class: 'btn btn-primary btn-app' %>
    </div>
  </div>

  <hr />

  <p class='text-right'> <%= render 'shared/account' %> </p>

<% end %>