<%=simple_form_for(@group, html: { class: 'form-inline form'}) do |f| %>
  <%= errors_for @group %>
  <div class='input-row'>
    <%=f.input :name, input_html: {class: 'form-control'} %>
  </div>

  <div class='input-row'>
    <%=f.input :description, input_html: {class: 'form-control'} %>
  </div>
  
  <div class='input-row'>
    <label></label>
    <%=f.submit 'Save', label: false, class: 'btn btn-primary form-control' %>
  </div>
<% end %>