<% content_for(:title) { "Edit Group"} %>
<% breadcrumb_buffer([{ "Groups": groups_path},
                      { "#{@group_with_role.object.name}": nil}
  ]) %>

<%= render "shared/group_recipient_tab", group_recipient_tab_index: 1 %>

<div class='form-wrapper'>
  <%= panel "Edit Group" do %> 
    <%= render 'form', group_with_role: @group_with_role %>
  <% end %>

  <br />
  <div class=' header-wrapper clearfix'>
    <div class='pull-left'>
      <h3 class='header-title'> Recipients in this group</h3>
    </div>

    <div class='pull-right'>
      <div class="autocomplete-box"> <%= render('search_member', group_with_role: @group_with_role) if @group_with_role.has_admin_role? %></div>
    </div>
  </div>


  <div id='member-list'>
    <%= render 'memberships/members', group_with_role: @group_with_role %>
  </div>
</div>



