<% content_for(:title) { "Groups"} %>

<%= render "shared/group_recipient_tab", group_recipient_tab_index: 1 %>
<br />

<div class='clearfix'>
  <div class='left'>
    <%= link_custom 'New Group', new_group_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: groups_path %>
  </div>
</div>

<table class='table panel'>
  <thead>
    <tr>
      <td width="200">Name</td>
      <td width="250">Description</td>
      <td width="150" align="center" >Projects & Alerts</td>
      <td>Recipients</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <%= render 'group', group_with_role: ObjectWithRole.new(group) %>
    <% end %>
  </tbody>
</table>
<%= paginate_for(@groups) %>

<br />
<h3 class='header-title'> Shared Projects </h3>

<table class='table panel'>
  <thead>
    <tr>
      <td width="200">Name</td>
      <td width="250">Description</td>
      <td  width="150" align="center">Projects & Alerts</td>
      <td>Recipients</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>

  <tbody>
    <% @group_permissions.each do |group_permission| %>
      <%= render 'group', group_with_role: ObjectWithRole.new(group_permission.group, group_permission.role) %>
    <% end %>
  </tbody>
</table>
<%= paginate_for(@group_permissions) %>

