<% content_for(:title) { "Groups"} %>

<%= render "shared/group_recipient_tab", group_recipient_tab_index: 1 %>
<br />

<div class='clearfix'>
  <div class='left'>
    <%= link_custom 'New Group', new_group_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: groups_path %>
  </div>
</div>

<table class='table panel'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Recipients</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, edit_group_path(group) %></td>
        <td><%= truncate(group.description, length: 45) %></td>
        <td><%= truncate(group.members.map(&:full_name).join(", "), length: 45) %></td>
        <td>
           <%= link_edit " ", edit_group_path(group) %>
           <%= link_destroy " ", group_path(group), method: :delete, data: { confirm: 'Are you sure to delete this group ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate_for(@groups) %>