<% content_for(:title) { "Groups"} %>
<% breadcrumb_buffer([{ "Groups": nil}]) %>

<%= render "shared/group_recipient_tab", group_recipient_tab_index: 1 %>

<div class=' header-wrapper clearfix'>
  <div class='pull-left'>
    <h3 class='header-title'> My Groups </h3>
  </div>

  <div class='pull-right'>
    <%= link_new 'New Group', new_group_path() %>
  </div>
</div>

<div class="panel panel-info">
  <table class='table table-responsive'>
    <thead>
      <tr>
        <td width="150">Name</td>
        <td>Description</td>
        <td align="center" >Projects/Alerts</td>
        <td>Recipients</td>
        <td class='td-last'>Action</td>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <%= render 'group', group_with_role: ObjectWithRole.new(group) %>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate_for(@groups) %>


<% if @group_permissions.length > 0 %>
  <br />
  <br />
  <br />

  <h3 class='header-title'> Shared Groups</h3>

  <div class="panel panel-info">
    <table class='table table-responsive'>
      <thead>
        <tr>
          <td width="150">Name</td>
          <td>Description</td>
          <td align="center">Projects/Alerts</td>
          <td>Recipients</td>
          <td class='td-last'>Action</td>
        </tr>
      </thead>

      <tbody>
        <% @group_permissions.each do |group_permission| %>
          <%= render 'group', group_with_role: ObjectWithRole.new(group_permission.group, group_permission.role) %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate_for(@group_permissions, param_name: :shared_page) %>
<% end %>

<%= render 'shared/content_url_modal' %>