<% content_for(:title) { "Users"} %>
<%= page_header "List user" %>

<div class='clearfix'>
  <div class='left'>
    <%= link_custom 'New User', new_user_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: users_path %>
  </div>
</div>


<table class='table panel'>
  <thead>
    <tr>
      <td>Login</td>
      <td>Name</td>
      <td>Email</td>
      <td>Number</td>
      <td>Role</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, edit_user_path(user) %></td>
        <td><%=user.full_name %></td>
        <td><%=user.email%></td>
        <td><%=user.phone %></td>
        <td><%=user.role%></td>
        <td>
           <%= link_edit " ", edit_user_path(user)  %>
          <% if !user.is_admin? %>
           <%= link_destroy " ", user_path(user), method: :delete, data: { confirm: 'Are you sure to delete' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate_for(@users) %>