<% content_for(:title) { "Projects"} %>
<% breadcrumb_buffer([{
    "Projects": nil
  }]) %>


<div class='header-wrapper clearfix'>
  <div class='pull-left'>
    <h3 class='header-title'> List of My Projects </h3>
    <%= render 'shared/search_form', url: projects_path %>
  </div>

  <div class='pull-right'>
    <%= link_new 'New Project', new_project_path() %>
  </div>
</div>

<div class="panel panel-info">
  <table class='table table-responsive'>
    <thead>
      <tr>
        <td width="250">Name</td>
        <td>Description</td>
        <td class='td-last'></td>
      </tr>
    </thead>
    <tbody>
      <% @my_projects.each do |project| %>
        <%= render 'project', project_with_role: ObjectWithRole.new(project), show_role: false %>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate_for(@my_projects)%>


<% if @project_permissions.size > 0 %>
  <br />
  <br />
  <br />
  <h3 class='header-title'> Shared Projects </h3>
  <div class="panel panel-info">
    <table class='table table-responsive'>
      <thead>
        <tr>
          <td width="250">Name</td>
          <td>Description</td>
          <td class='td-last'></td>
        </tr>
      </thead>
      <tbody>
      <% @project_permissions.each do |permission| %>
        <%= render 'project', project_with_role: ObjectWithRole.new(permission.project, permission.role), show_role: true %>
      <% end %>
      </tbody>
    </table>
  </div>
  <%=paginate_for(@project_permissions, param_name: :shared_page) %>

<% end %>

