<tr style='display:none;' >
    <td colspan='5' style='cursor: pointer;' >
      <div class='kind-collapsable'>
        <span style='padding-left: 10px; font-weight:bold;'>
          <i class='glyphicon glyphicon-triangle-right'> </i>
          <i class='glyphicon glyphicon-triangle-bottom' style='display: none'> </i>
          Channels
        </span>
      </div>

      {% for(var i=0; i< o.channels.length; i++ ) { %}

        <div class='permission-item' style='display:none;' >

          <div class='permission-first'>
            <span> {%= o.channels[i].name %} </span>
          </div>
          
          <div class="role-type">
            <input type='radio'
                   class='permission-role'
                   name='channel-permission-{%=o.channels[i].id%}-{%=o.user.id%}'
                   data-channel-id='{%=o.channels[i].id%}'
                   data-user-id='{%=o.user.id%}'
                   data-role='<%=User::PERMISSION_ROLE_NONE%>'
                   data-url='<%=channel_permissions_url()%>'

                   {%= permissionRoleMatchChannelPermission(o.user, o.channels[i].id, '<%=User::PERMISSION_ROLE_NONE%>') %}
                   />

          </div>

          <div class="role-type">
            <input type='radio'
                   class='permission-role'
                   name='channel-permission-{%=o.channels[i].id%}-{%=o.user.id%}'
                   data-channel-id='{%=o.channels[i].id%}'
                   data-user-id='{%=o.user.id%}'
                   data-role='<%=User::PERMISSION_ROLE_NORMAL%>'
                   data-url='<%=channel_permissions_url()%>'

                   {%= permissionRoleMatchChannelPermission(o.user, o.channels[i].id, '<%=User::PERMISSION_ROLE_NORMAL%>') %}
                   />
          </div>

          <div class="role-type">
            <input type='radio'
                   class='permission-role'
                   name='channel-permission-{%=o.channels[i].id%}-{%=o.user.id%}'
                   data-channel-id='{%=o.channels[i].id%}'
                   data-user-id='{%=o.user.id%}'
                   data-role='<%=User::PERMISSION_ROLE_ADMIN %>'
                   data-url='<%=channel_permissions_url()%>'

                   {%= permissionRoleMatchChannelPermission(o.user, o.channels[i].id, '<%=User::PERMISSION_ROLE_ADMIN%>') %}
            />
          </div>

        </div>
        {% } %}
    </td>
  </tr>