<div class="input-group" style='max-width: 400px;'>
  <%= text_field_tag :permission_user, params[:q], class: "form-control typeahead", placeholder: "User email", data: {url: list_users_path} %>
  <%= hidden_field_tag :permission_user_id, '' %>
  <span class="input-group-btn">
    <button class="btn btn-primary btn-app" type="button" style="min-width: 60px;" id='add-permission'>
      <i class=' glyphicon glyphicon-plus'> </i>
    </button>
  </span>
</div>

<table class="table table-strip table-permission">
  <thead>
    <tr>
      <td class="permission-first"> User > Projects > Channels</td>
      <td class="role-type"> None </td>
      <td class="role-type"> Normal </td>
      <td class="role-type"> Admin </td>
      <td> </td>
    </tr>
  </thead>

  <tbody id='permission-items'>
  </tbody>

</table>

<script type="text/javascript">
  var myProjects = <%= ActiveModel::ArraySerializer.new(@projects).to_json.html_safe %>
  var myChannels = <%= ActiveModel::ArraySerializer.new(@channels).to_json.html_safe %>
  var permissionUsers = <%= ActiveModel::ArraySerializer.new(@shared_users).to_json.html_safe %>
  var userTables = []
</script>

<script type="text/x-tmpl" id="permission-tmpl">
  <tr class='user-collapsable' >
    <td colspan='5' style='background: #eee; cursor: pointer;'>
      <i class='glyphicon glyphicon-triangle-right'> </i>
      <i class='glyphicon glyphicon-triangle-bottom' style='display:none;'> </i>
      <span>{%= o.user.email %}</span>

    </td>
  </tr>
  <%= render 'project_template' %>
  <%= render 'channel_template' %>
</script>
