<% content_for(:title) { "User Permission"} %>
<% breadcrumb_buffer([{ "User Permission": nil}]) %>

<div class="header-wrapper clearfix">
  <div class="pull-left"> <h3 class='header-title'> Permission to manage projects and SMS channels</h3> </div>
  <div class="pull-right col-md-5" style="padding-right: 0px"> <%= render 'search_user' %> </div>
</div>

<div class="panel panel-info">
  <table class='table table-responsive table-permission'>
    <thead>
      <tr>
        <td class="permission-first"> User</td>
        <td class="role-type" style="margin-left: 25px;"> None </td>
        <td class="role-type"> View Only </td>
        <td class="role-type"> Admin </td>
      </tr>
    </thead>

    <tbody id='permission-items'>
    </tbody>

  </table>
</div>

<script type="text/javascript">
  var myProjects = <%= ActiveModel::ArraySerializer.new(@projects).to_json.html_safe %>
  var myChannels = <%= ActiveModel::ArraySerializer.new(@channels).to_json.html_safe %>
  var permissionUsers = <%= ActiveModel::ArraySerializer.new(@shared_users).to_json.html_safe %>
  var userTables = []
</script>

<script type="text/x-tmpl" id="permission-tmpl">
  <tr class='user-collapsable' >
    <td colspan='4' style='cursor: pointer;'>
      <i class='glyphicon glyphicon-triangle-right'> </i>
      <i class='glyphicon glyphicon-triangle-bottom' style='display:none;'> </i>
      <span>{%= o.user.email %}</span>

    </td>
  </tr>
  <%= render 'project_template' %>
  <%= render 'channel_template' %>
</script>
