
<%= content_for(:mailer_header) do %>
  <h3><%= "#{@alert.name}" %> </h3>
  <p>
    <%= link_to 'View on website', alert_feed_entries_url(@alert.id) %>
  </p>
  
  <p style='color:gray; font-size: 90%; font-style:italic;'>
    <a href='<%= @alert.url %>'> <%= @alert.url %> </a>
  </p>

  <p style='color:gray; font-size: 90%; font-style:italic;'>
    <b><%= @alert.feed_entries.length %></b> feed entries that matched the keywords criteria for from 
    <%= @date_range.from.to_date %>, to <%=@date_range.to.to_date %> for group :
    <b><%= "#{@group_name}" %></b>
  </p>
<% end %>

<% @search_highlight.each do |search_highlight| %>
  <% feed_entry_highlight = FeedEntryHighlight.new(search_highlight) %>
  <p>
    <h4 class='feed-title'> <%= link_to feed_entry_highlight.title.html_safe, feed_entry_highlight.url %> </h4>
    <p style='color:gray; font-size: 90%; font-style:italic;'>
      <%= feed_entry_highlight.keywords %>
      <%= link_to 'Original Source', feed_entry_highlight.url %>
    </p>
    
    <%= feed_entry_highlight.description.html_safe %>
  </p>
<% end %>