<% content_for(:title) { "Edit Alert"} %>
<% breadcrumb_buffer([{ "Projects": projects_path},
                      { "#{@project_with_role.object.name}": edit_project_path(@project_with_role.object)},
                      {"Alerts": project_alerts_path(@project_with_role.object)},
                      {"#{@alert.name}": nil}]) %>

<%= render 'shared/project_alert',
            url_tab1: edit_project_path(@project_with_role.object),
            url_tab2: project_alerts_path(@project_with_role.object),
            url_tab3: sms_setting_project_path(@project_with_role.object),
            project_tab: 2,
            is_enable_alert_and_sms_tab: '' %>

<div class='form-wrapper'>
  <%= panel "Edit Alert" do %>
    <%= render 'form', project_with_role: @project_with_role, alert: @alert %>
  <% end %>

  <br />
  <%= render 'alert_groups', project_with_role: @project_with_role, alert: @alert %>

  <br />
  <br />

  <%= render 'alert_keywords', project_with_role: @project_with_role, alert: @alert %>
</div>

