<%= paginate_for(@alerts) %>

<%= page_header "List Alert" do %>
  <%= link_to matched_alerts_path(), class: 'btn btn-default' do %>
    <span class='glyphicon glyphicon-flash'> </span> Alert Content
  <% end %>
  <span> </span>
  <%= link_new 'New Alert', new_alert_path(), class: 'btn btn-default' %>
<% end %>


<table class='table panel'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Url</td>
      <td>Keywords</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= link_to alert.name, edit_alert_path(alert) %></td>
        <td><%= alert.url %></td>
        <td><%= truncate(alert.keywords.map(&:name).join(","), length: 120) %></td>
        <td>
           <%= link_edit " ", edit_alert_path(alert) %>
           <%= link_destroy " ", alert_path(alert), method: :delete, data: { confirm: 'Are you sure to delete this alert' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate_for(@alerts) %>