<%= page_title "Alert matched" %>
<h3> Alerts that matched criteria for </h3>
<p class="color:gray; font-size: 90%;"><%= @date_range.from %>, <%= @date_range.to %></p>
<% @alerts.each do |alert| %>
  <div style='padding-top: 15px; margin-bottom: 10px;'>
    <h3>
      <%=link_to alert.name, matched_alert_feed_entries_path(alert.id, from: @date_range.from, to: @date_range.to) %>
      <span class='badge badge-danger'> <%= alert.total_match %> </span>
    </h3>

    <p style='color:gray; font-size: 90%; font-style:italic;'>
      <%= alert.keywords.pluck(:name).join(", ")%>
    </p>
    <%= alert.url%>

  </div>
<% end %>