<%= page_title "Alert matched" %>
<% breadcrumb_buffer([{ "Projects": projects_path},
                      { "#{@project_with_role.object.name}": edit_project_path(@project_with_role.object)},
                      {"Alerts": project_alerts_path(@project_with_role.object)},
                      {"Matched alerts": nil}]) %>

<%= render 'shared/project_alert',
            url_tab1: edit_project_path(@project_with_role.object),
            url_tab2: project_alerts_path(@project_with_role.object),
            project_tab: 2 %>


<h3> Alerts that matched criteria for </h3>
<p class="color:gray; font-size: 90%;"><%= @date_range.from %>, <%= @date_range.to %></p>
<% @alerts.each do |alert| %>
  <div style='padding-top: 15px; margin-bottom: 10px;'>
    <h3>
      <%=link_to alert.name, matched_alert_feed_entries_path(alert.id, from: @date_range.from, to: @date_range.to) %>
      <span class='badge badge-danger'> <%= alert.total_match %> </span>
    </h3>

    <p style='color:gray; font-size: 90%; font-style:italic;'>
      <%= alert.keywords.pluck(:name).join(", ")%>
    </p>
    <%= alert.url%>

  </div>
<% end %>