<div id='toolbar'>
  <div class='container'>
    <div id="nav-menu">
      <ul class='main-menu'>
        <% app_menu.each do |item| %>
          <% if item[:sub] %>
            <li class='<%=item[:class]%> dropdown'>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= item[:text] %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% item[:sub].each do |sub| %>
                  <li><%= link_to sub[:text], sub[:url] %></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li class="<%=item[:class]%>"><%= link_to item[:text], item[:url] %></li>
          <% end %>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <ul id='right-menu'>
          <li class="dropdown">
             <%= link_to profile_users_path, class: 'dropdown-toggle', id: 'dropdownMenu1', data: {toggle: 'dropdown'} do %>
               <i class='glyphicon glyphicon-user'> </i> <%= current_user.full_name %>
               <span class="caret"></span>
             <% end %>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <%= link_to "Profile", profile_users_path, role: 'menuitem' %>
               </li>
              <li role="presentation">
                <%= link_to "Change Password", password_users_path, role: 'menuitem' %>
              </li>
              <li> </li>

              <li>
                <%= link_to 'Sign Out', sign_out_path(), class: 'btn-delete', method: :delete %>
              </li>
            </ul>

          </li>
        </ul>
      <% end %>


    </div>

  </div>
</div>