<div id='toolbar'>
  <div class='container'>
    <div id="nav-menu">
      <ul class='main-menu'>
        <% app_menu.each do |item| %>
          <li class='<%=item[:class]%>'><%= link_to item[:text], item[:url] %></li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <ul id='right-menu'>
          <li class="dropdown">
             <%= link_to profile_users_path, class: 'dropdown-toggle', id: 'dropdownMenu1', data: {toggle: 'dropdown'} do %>
               <i class='glyphicon glyphicon-user'> </i> <%= current_user.full_name %>
               <span class="caret"></span>
             <% end %>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <%= link_to "Profile", profile_users_path, role: 'menuitem' %>
               </li>
              <li role="presentation">
                <%= link_to "Change Password", password_users_path, role: 'menuitem' %>
              </li>
              <li> </li>

              <li>
                <%= link_to 'Sign Out', sign_out_path(), class: 'btn-delete', method: :delete, 
                            data: {confirm: 'Are you sure to sign out ? ',
                                   confirm_explain: ' ',
                                   btn_confirm: 'Confirm Signout'} %>
              </li>
            </ul>

          </li>
        </ul>
      <% end %>


    </div>

  </div>
</div>