<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>

    <link href="/favicon.ico?version=20150504102347" type="image/x-icon" rel="icon">
    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_NAME'] %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/shared/notification' %>
    <%= render 'layouts/shared/config' %>
    <%= render "layouts/nav_menu" %>

    <div class='container'>
      
      <%= render "layouts/logo" %>
      <%#= flash_messages %>
      <%= yield %>

      <%= render "layouts/footer" %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>