<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= render 'layouts/shared/google_search_console' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'layouts/shared/default_page_meta' %>

    <%= content_for(:meta_tag) %>
    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_NAME'] %></title>

    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/nav_menu" %>

    <div class='container'>
      
      <%= render "layouts/logo" %>
      <%#= flash_messages %>
      <%= yield %>

      <%= render "layouts/footer" %>
    </div>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/shared/notification' %>
    <%= render 'layouts/shared/config' %>
    <%= render 'layouts/shared/google_analytic' %>

  </body>
</html>