<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alert Mail</title>

<%= stylesheet_link_tag    "mailer" %>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#eee">
  <tr>
    <td></td>
    <td class="header container" >
        
        <div class="content">
        <table bgcolor="#eee">
          <tr>
            <td>
              <h1> <%= link_to(root_url, alt: 'Feed Alert') { mailer_image_tag("feed-alert-logo.png", alt: ENV['APP_NAME']) } %> </h1>
            </td>
          </tr>
        </table>
        </div>
        
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <%= yield(:mailer_header) %>
          
            <%= yield %>

            <!-- Callout Panel -->
            <p class="callout" style='margin-top: 60px;' >
              This email is from <b><%=ENV['APP_NAME']%></b>
            </p><!-- /Callout Panel -->         
                        
            <!-- social & contact -->
            <%= render 'layouts/mailer/contact' %>
            
          </td>
        </tr>
      </table>
      </div><!-- /content -->
                  
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      
        <!-- content -->
        <div class="content">
        <table>
        <tr>
          <td align="center">
            <p>
              @Copyright <a href='http://www.ilabsoutheastasia.org/'> InSTEDD Ilab South east asia</a>
            </p>
          </td>
        </tr>
      </table>
        </div><!-- /content -->
        
    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>