<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Alert system" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='container'>
      <div>
        <div class='text-center logo'>
          <%= link_to root_url do %>
            <%=image_tag 'feed-alert-logo.png', alt: ENV['APP_NAME'] %>
          <% end %>
        </div>
        <div class='logo-bar'></div>
      </div>

      <div class='sign-in clearfix'>
        <%= flash_messages %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>