<% content_for(:title) { "Members"} %>
<%= page_header "List Member" %>

<div class='clearfix'>
  <div class='left'>
    <%= link_custom 'New Member', new_member_path() %>
  </div>

  <div class='right'>
    <%= render 'shared/search_form', url: members_path %>
  </div>
</div>


<table class='table'>
  <thead>
    <tr>
      <td>Full Name</td>
      <td>Email</td>
      <td>Number</td>
      <td>Email Alert</td>
      <td>SMS Alert</td>
      <td class='td-last'>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.full_name, edit_member_path(member) %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= boolean_text member.email_alert %></td>
        <td><%= boolean_text member.sms_alert %></td>
        <td>
          <%= link_edit " ", edit_member_path(member) %>
          <%= link_destroy " ", member_path(member), method: :delete, data: { confirm: 'Are you sure to delete this member' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate_for(@members) %>